<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>APP Douro</name>

<description>
APP Douro
</description>
<icon src="icon.png" />

<author href="https://ivantera.com" email="terra.ivan@gmail.com">
Ivan Terra
</author>

</widget>

